* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

.topbar {
  position: fixed;
  text-align: center;
  height: 60px;
  width: 100%;
  z-index: 4;
  background-color: aliceblue;

}

.logo { 
  font-size: calc(20px + 1vw);
  display: flex;
  justify-content: center;
  color: rgb(14, 14, 14);
  text-shadow: 5px 5px rgb(231, 231, 231);
  user-select: none;
  cursor: default;
  font-weight: bold;
  margin-top: 15px;
}

